<!-- navbar.ejs -->
<header class="header" data-header>
    <div class="container">
        <a href="/auth/logout" class="btn btn-secondary">Logout</a>
        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
    </div>
</header>